<% include ./partials/header %>

<div class="ui container">
    
    <div class="ui center aligned segment">
        <div class="ui medium header">Forgot password?</div>
        <form action="/forgot" method="POST">
            <div class="ui action left icon input">
              <i class="search icon"></i>
              <input type="email" name="email" placeholder="Your e-mail address...">
              <input type="submit" placeholder="submit">
            </div>
        </form>
    </div>
    
</div>


<% include ./partials/footer %>