<% include ./partials/header %>

<div id="maincontainer" class="ui container">
  <div class="ui center aligned segment" id="mainsegment">
    <div class="ui huge header">
        Log in
    </div>
      <div class="ui text container" id="formsegment">
            <form class="ui form" action="/login" method="POST">
              <div class="field">
                <label>Username</label>
                <input type="text" name="username" placeholder="username">
              </div>
              <div class="field">
                <label>Password</label>
                <input type="password" name="password" placeholder="password">
              </div>
                <button class="ui positive button">Log In</button>
            </form>
        </div>
    </div>
</div>


<% include ./partials/footer %>