.mtxlist {
    display: inline;
}

.ui.footer.segment {
margin: 5em 0em 0em;
padding: 1em 0em;
color: grey;
}

.content {
    padding: 0;
}

body {
    background: black;
}

#menuheader {
    margin-bottom: 0px;
    margin-top: 5px;
    border-radius: 0px;
}

#welcomemsg {
    margin-bottom: 12px;
    border-radius: 0px;
}

#menulogo {
    padding: 10px;
}

.delete-form {
    display: inline;
}