<% include ../partials/header %>

<div id="maincontainer" class="ui container">
    <div class="ui center aligned segment" id="mainsegment">
        <div class="ui text container" id="newmtxsegment">
            <form class="ui form" action="/mtx/<%= submtx._id %>?_method=PUT" method="POST">
                <div class="field">
                    <label>Title</label>
                    <input type="text" name="submtx[title]" value="<%=submtx.title%>">
                </div>                
                <div class="field">
                    <label>Image</label>
                    <input type="text" name="submtx[image]" value="<%=submtx.image%>">
                </div>
                <div class="field">
                    <label>Description</label>
                    <textarea name="submtx[description]"><%=submtx.description%></textarea>
                </div>         
                    <button class="positive ui button">Submit</button>
                </div>
            </form>
        </div>      
    </div>
</div>

<% include ../partials/footer %>