<% include ../partials/header %>

<div class="ui container">
  
  <div class="row">
    <div class="ui message" id="welcomemsg">
      <h1 class="ui header">Welcome to Pretty POE Princesses</h1>
      <p>This is a website for uploading and viewing MTX combinations.</p>
      <a class="positive ui button" href="/mtx/new">Add new MTX</a> 
    </div>      
  </div>

  <div class="row">
    <div class="ui five stackable cards">
      <% submtx.forEach(function(foundSubmtx){ %>
      
        <div class="card">
          <div class="center aligned content">
            <div class="header"><%= foundSubmtx.title %></div>  
          </div>
          <div class="center aligned image">
              <svg width="200" height="200">
                <image xlink:href="<%=foundSubmtx.image%>" x="0" y="0" width="100%" height="100%"></image>
              </svg>
          </div>
          <div class="content">
            <div class="center aligned meta">
              <a class="positive ui button" href="/mtx/<%=foundSubmtx._id%>">View mtx</a>
            </div>
          </div>
        </div>
      
      <% }); %>  
    </div>  
  </div>
</div>

  
</div>


<script>
    $('.menu .item')
  .tab()
;
</script>


<% include ../partials/footer %>