<% include ../partials/header %>

<div id="maincontainer" class="ui container">
  
  <div class="ui segment" id="mainsegment">
    <div class="ui small header">
      <a href="/">Landing</a> / mtx
    </div>
    <div class="ui large header">
      User Submitted MTX
    </div>
    <div class="ui divider"></div>

    <% if(noMatch !== undefined) { %>
      <div class="ui center aligned segment">
        <div class="ui medium header"><%= noMatch %></div>
      </div>
    <% } %>

  <div class="row">
    <div class="ui five stackable cards">
      <% submtx.forEach(function(foundSubmtx){ %>
      
        <div class="card">
          <div class="center aligned content">
            <div class="header"><%= foundSubmtx.title %></div>  
          </div>
          <div class="center aligned image">
              <svg width="200" height="200">
                <image xlink:href="<%=foundSubmtx.image%>" x="0" y="0" width="100%" height="100%"></image>
              </svg>
          </div>
          <div class="content">
            <div class="center aligned meta">
              <a class="positive ui button" href="/mtx/<%=foundSubmtx._id%>">View mtx</a>
            </div>
          </div>
        </div>
      
      <% }); %>  
    </div>  
  </div>
</div>

</div>
  
</div>


<script>
    $('.menu .item')
  .tab()
;
</script>


<% include ../partials/footer %>