<% include ../partials/header %>

<div id="maincontainer" class="ui container">
  <div class="ui center aligned segment" id="mainsegment">
      <div class="ui text container" id="newmtxsegment">
            <form class="ui form" action="/mtx" method="POST">
              <div class="field">
                <label>Title</label>
                <input type="text" name="title" placeholder="title">
              </div>              
              <div class="field">
                <label>Image</label>
                <input type="text" name="image" placeholder="image url">
              </div>
              <div class="field">
                <label>Description</label>
                <textarea name="description" placeholder="description"></textarea>
              </div>
                <button class="ui positive button">Submit</button>
            </form>
        </div>
    </div>
</div>


<% include ../partials/footer %>