<% include ../partials/header %>

<div id="maincontainer" class="ui container">
    <div class="ui center aligned segment" id="mainsegment">
        <h2><%= user.username %></h2>
    </div>
</div>

<div class="ui container">
    <div class="ui segment">
        <h2><%= user.username %></h2>
        <div class="ui image">
        <img src="<%= user.avatar %>">
        </div>    
    </div>        
</div>


<% include ../partials/footer %>